

$sombra : #C36B19;
$bg-cone : orange;
$bg-topo : #FDBA0A;
.cone{
	position: absolute;
	width: 200px;
	height: 200px;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
	background: $bg-cone;
	transform: rotate(225deg);
	border-radius: 20px;
	box-shadow: -6px 0 3px 0 $sombra,0 -6px 3px 0 $sombra;

	&::before{
  content: "";
  position: absolute;
  height:0;
  width: 0; 
 	left:70px;
 	top:70px;
 	transform: rotate(45deg);
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  border-left: 200px solid $bg-topo;
	}
  &::after{
	content: "";
	position: absolute;
	left: 26px;
	top: 26px;
	border-radius: 100% 20px 100% 20px;
	background: $bg-topo;
	width: 149px;
	height: 149px;
	}
}
