

$sombra : #C36B19;
$bg-cone : orange;
$bg-topo : #FDBA0A;
.cone{
	position: absolute;
	width: 200px;
	height: 200px;
	left: calc(50% - 100px);
	top: calc(50% - 100px);
	background: $bg-cone;
	transform: rotate(225deg);
	border-radius: 20px;
	box-shadow: -6px 0 3px 0 $sombra,0 -6px 3px 0 $sombra;

	&::before{
  content: "";
  position: absolute;
  height:0;
  width: 0; 
 	left:40px;
 	top:30px;
 	transform: rotate(135deg);
  	border-bottom: 250px solid $bg-topo;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent; 
	border-radius: 50%;
	}

}
